#panel {
	background-color: rgba(0,0,0,0.5);
	border-bottom: 1px solid #ff00ff;
  	/*box-shadow: 0 0 5px rgba(0,0,0,1);*/
	.panel-button {
		color:#fff;
	}
}

stage {
  font-family: "Droid Sans", Sans-Serif;
}
